<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>hyperion-alfred-workflow</string>
	<key>category</key>
	<string>Tools</string>
	<key>connections</key>
	<dict>
		<key>C35D99B2-7D5C-4E0C-A2F8-84BA1527C34F</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>B77D2D24-E957-48EE-A7EE-420673A05DBD</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>Andreas Henriksson</string>
	<key>description</key>
	<string>Control LED-strip with Alfred</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>Hyperion Controller</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>36</integer>
				<key>script</key>
				<string>./hyperion.sh "{query}"</string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.script</string>
			<key>uid</key>
			<string>B77D2D24-E957-48EE-A7EE-420673A05DBD</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>escaping</key>
				<integer>32</integer>
				<key>keyword</key>
				<string>hyperion</string>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<true/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>2</integer>
				<key>runningsubtext</key>
				<string>Connecting with server...</string>
				<key>script</key>
				<string>./main.sh "{query}"</string>
				<key>title</key>
				<string>Hyperion Controller</string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>C35D99B2-7D5C-4E0C-A2F8-84BA1527C34F</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
	</array>
	<key>readme</key>
	<string></string>
	<key>uidata</key>
	<dict>
		<key>B77D2D24-E957-48EE-A7EE-420673A05DBD</key>
		<dict>
			<key>ypos</key>
			<real>20</real>
		</dict>
		<key>C35D99B2-7D5C-4E0C-A2F8-84BA1527C34F</key>
		<dict>
			<key>ypos</key>
			<real>20</real>
		</dict>
	</dict>
	<key>webaddress</key>
	<string>andreashenriksson.se</string>
</dict>
</plist>
